<section class="about-me" id="about-me">
    <div class="container about-me__container">
        <div class="about-me__left">
            <img class="about-me__left-img" src="images/me.png" alt="">
        </div>
        <div class="about-me__right">
            <h1 class="about-me__headline">About me</h1>
            <div class="about-me__description">
                <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.</p>
                <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei.</p>
            </div>
            <ul class="about-me__vantages">
                <li class="about-me__vantage">
                    <img src="images/me1.png" alt="" class="about-me__vantage-icon">
                    <div class="about-me__vantage-text">
                        <div class="about-me__vantage-title">Web Design</div>
                        <div class="about-me__vantage-description">Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.</div>
                    </div>
                </li>
                <li class="about-me__vantage">
                    <img src="images/me2.png" alt="" class="about-me__vantage-icon">
                    <div class="about-me__vantage-text">
                        <div class="about-me__vantage-title">Graphic Design</div>
                        <div class="about-me__vantage-description">Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.</div>
                    </div>
                </li>
                <li class="about-me__vantage">
                    <img src="images/me3.png" alt="" class="about-me__vantage-icon">
                    <div class="about-me__vantage-text">
                        <div class="about-me__vantage-title">Online Marketing</div>
                        <div class="about-me__vantage-description">Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.</div>
                    </div>
                </li>
                <li class="about-me__vantage">
                    <img src="images/me4.png" alt="" class="about-me__vantage-icon">
                    <div class="about-me__vantage-text">
                        <div class="about-me__vantage-title">Seo</div>
                        <div class="about-me__vantage-description">Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>