<div class="contact-me" id="contact-me">
    <div class="container">
        <div class="title contact-me__headline">Мои контакты</div>
    </div>
    <div class="container contact-me__container">
        <div class="contact-me__left">
            <div class="contact-me__description">
                <p>Если у вас есть идеи и предложения, которые очень хочется обсудить, воспользуйтесь контактной формой.</p>
                <ul class="contact-me__items">
                    <li class="contact-me__item">
                        <div class="contact-me__item-name">Сайт:</div><a class="contact-me__item-value" href="https://leonziger.github.io/folio/" target="_blank">https://leonziger.github.io/folio/</a>
                    </li>
                    <li class="contact-me__item">
                        <div class="contact-me__item-name">Github:</div><a class="contact-me__item-value" href="https://github.com/leonziger/" target="_blank">https://github.com/leonziger/</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="contact-me__right">

            <form class="contact-form">
                <div class="contact-form__field-wrap">
                    <input placeholder="Имя *" name="name" class="contact-form__field" autocomplete="off">
                </div>
                <div class="contact-form__field-wrap">
                    <input placeholder="Телефон *" type="tel" name="phone" class="contact-form__field" autocomplete="off">
                </div>
                <div class="contact-form__field-wrap">
                    <input placeholder="Email *"  name="email" class="contact-form__field" autocomplete="off">
                </div>
                <div class="contact-form__field-wrap">
                    <textarea placeholder="Сообщение" name="message" id="message" class="contact-form__area"></textarea>
                </div>
                <div class="contact-form__submit-wrapper">
                    <button class="button contact-form__submit">Напишите мне</button>
                </div>
            </form>

        </div>
    </div>
</div>