<div class="contact-me" id="contact-me">
    <div class="container contact-me__container">
        <div class="contact-me__left">
            <div class="title contact-me__headline">Contact me</div>
            <div class="contact-me__description">
                <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.</p>
                <p>122 33rd Street East<br>
                    Saskatoon, SK<br>
                    S7K 1R9
                </p>
                <ul class="contact-me__items">
                    <li class="contact-me__item">
                        <div class="contact-me__item-name">Email:</div><div class="contact-me__item-value">infor@focal.com</div>
                    </li>
                    <li class="contact-me__item">
                        <div class="contact-me__item-name">Phone:</div><div class="contact-me__item-value">1-306-222-2323</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="contact-me__right">
            <form class="contact-me__form">
                <div class="contact-me__field-wrap">
                    <label for="name">
                        <div class="contact-me__field-name">Name *</div>
                        <input type="text" name="name" id="name" class="contact-me__form-field">
                    </label>
                </div>
                <div class="contact-me__field-wrap">
                    <label for="email">
                        <div class="contact-me__field-name">Email Address *</div>
                        <input type="email" name="name" id="email" class="contact-me__form-field">
                    </label>
                </div>
                <div class="contact-me__field-wrap">
                    <label for="message">
                        <div class="contact-me__field-name">Message *</div>
                        <textarea name="message" id="message" class="contact-me__form-area"></textarea>
                    </label>
                </div>
                <div class="contact-me__submit-wrapper">
                    <button class="button contact-me__submit">Contact me</button>
                </div>
            </form>
        </div>
    </div>
</div>