<section class="resume-edu-work" id="resume">
    <div class="my-resume">
        <div class="container my-resume__container">
            <h2 class="my-resume__headline title">Resume</h2>
            <div class="my-resume__description">
                <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute
                    disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae
                    pri.</p>
            </div>
            <a href="#" class="button my-resume__button">Download Resume</a>
        </div>
    </div>
    <div class="my-edu">
        <div class="container my-skills__container my-skills__delimiter">
            <div class="my-skills__left">
                <h2 class="my-skills__headline">My education</h2>
                <div class="my-skills__description">
                    <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.</p>
                    <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei.</p>
                </div>
            </div>
            <div class="my-skills__right">
                <ul class="my-work__jobs">
                    <li class="my-work__job">
                        <div class="my-work__job-title">Graphic Design Diploma</div>
                        <div class="my-work__job-wrap">
                            <div class="my-work__job-company">Reeves College</div>,&nbsp;
                            <div class="my-work__job-town"></div>&nbsp;/&nbsp;
                            <div class="my-work__job-from">June 2008</div>&nbsp;-&nbsp;
                            <div class="my-work__job-to">May 2010</div>
                        </div>
                        <div class="my-work__job-years">4.0 GPA</div>
                        <div class="my-work__description">
                            <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.</p>
                        </div>
                    </li>
                    <li class="my-work__job">
                        <div class="my-work__job-title">CIT Diploma</div>
                        <div class="my-work__job-wrap">
                            <div class="my-work__job-company">Lethbridge College</div>,&nbsp;
                            <div class="my-work__job-town"></div>&nbsp;/&nbsp;
                            <div class="my-work__job-from">June 2006</div>&nbsp;-&nbsp;
                            <div class="my-work__job-to">May 2008</div>
                        </div>
                        <div class="my-work__job-years">4.0 GPA</div>
                        <div class="my-work__description">
                            <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="my-work">
        <div class="container my-skills__container">
            <div class="my-skills__left">
                <h2 class="my-skills__headline">Work Experience</h2>
                <div class="my-skills__description">
                    <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.</p>
                    <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei.</p>
                </div>
            </div>
            <div class="my-skills__right">
                <ul class="my-work__jobs">
                    <li class="my-work__job">
                        <div class="my-work__job-title">Lead WEb Designer</div>
                        <div class="my-work__job-wrap">
                            <div class="my-work__job-company">ABC Company</div>,&nbsp;
                            <div class="my-work__job-town">Saskatoon</div>&nbsp;/&nbsp;
                            <div class="my-work__job-from">June 2011</div>&nbsp;-&nbsp;
                            <div class="my-work__job-to">Present</div>
                        </div>
                        <div class="my-work__job-years">3 Years</div>
                        <div class="my-work__description">
                            <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.</p>
                        </div>
                    </li>
                    <li class="my-work__job">
                        <div class="my-work__job-title">Junior Designer</div>
                        <div class="my-work__job-wrap">
                            <div class="my-work__job-company">XYZ Company</div>,&nbsp;
                            <div class="my-work__job-town">Lethbridge</div>&nbsp;/&nbsp;
                            <div class="my-work__job-from">June 2008</div>&nbsp;-&nbsp;
                            <div class="my-work__job-to">June 2009</div>
                        </div>
                        <div class="my-work__job-years">1 Year</div>
                        <div class="my-work__description">
                            <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.</p>
                        </div>
                    </li>
                    <li class="my-work__job">
                        <div class="my-work__job-title">Web Developer</div>
                        <div class="my-work__job-wrap">
                            <div class="my-work__job-company">The Company</div>,&nbsp;
                            <div class="my-work__job-town">Lethbridge</div>&nbsp;/&nbsp;
                            <div class="my-work__job-from">June 2008</div>&nbsp;-&nbsp;
                            <div class="my-work__job-to">June 2007</div>
                        </div>
                        <div class="my-work__job-years">1 Year</div>
                        <div class="my-work__description">
                            <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.</p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>