<div class="main-banner">
    {{> main-header }}
    <ul class="container main-banner__values">
        <li class="main-banner__value">
            <div class="main-banner__value-title title">Values</div>
            <div class="main-banner__value-description">Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.</div>
        </li>
        <li class="main-banner__value">
            <div class="main-banner__value-title title">Goals</div>
            <div class="main-banner__value-description">Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.</div>
        </li>
        <li class="main-banner__value">
            <div class="main-banner__value-title title">Hobbies</div>
            <div class="main-banner__value-description">Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.</div>
        </li>
    </ul>
</div>