<section class="my-skills" id="skills">
    <div class="container my-skills__container">
        <div class="my-skills__left my-skills__left-correction">
            <h2 class="my-skills__headline">Мои навыки</h2>
            <ul class="my-skills__list">
                <li class="my-skills__list-item">верстка из PSD/Figma/Avocode в HTML (адаптивная, семантическая,
                    PixelPerfect);
                </li>
                <li class="my-skills__list-item">работа с PHP на уровне интеграции верстки;</li>
                <li class="my-skills__list-item">HTML(БЭМ, pug)/CSS (scss);</li>
                <li class="my-skills__list-item">js/jQuery на уровне написания скриптов / интеграции популярных плагинов;</li>
                <li class="my-skills__list-item">натяжка верстки на cms Wordpress;</li>
                <li class="my-skills__list-item">node, gulp, webpack, git и т.п.</li>
            </ul>
            <div class="my-skills__button-wrapper">
                <a href="#contact-me" class="button my-skills__button">Напишите мне</a>
            </div>
        </div>
        <div class="my-skills__right my-skills__right-correction">
            <ul class="my-skills__diagram">
                <li class="my-skills__line">
                    <div class="my-skills__line-title">HTML+CSS</div>
                    <div id="photoshop" data-progressbar="90">
                    </div>
                </li>
                <li class="my-skills__line">
                    <div class="my-skills__line-title">js/jQuery</div>
                    <div id="illustrator" data-progressbar="70">

                    </div>
                </li>
                <li class="my-skills__line">
                    <div class="my-skills__line-title">PHP</div>
                    <div id="htmlcss"  data-progressbar="60">

                    </div>
                </li>
                <li class="my-skills__line">
                    <div class="my-skills__line-title">Wordpress</div>
                    <div id="phpmysql"  data-progressbar="50">

                    </div>
                </li>
            </ul>
        </div>

    </div>
</section>