<section class="my-skills" id="skills">
    <div class="container my-skills__container">
        <div class="my-skills__left">
            <h2 class="my-skills__headline">My skills</h2>
            <div class="my-skills__description">
                <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.</p>
                <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei.</p>
            </div>
            <a href="#contact-me" class="button my-skills__button">Contact Me</a>
        </div>
        <div class="my-skills__right diagram-correction">
            <ul class="my-skills__diagram">
                <li class="my-skills__line">
                    <div class="my-skills__line-title">Photoshop</div>
                    <div id="photoshop" data-progressbar="75">
                    </div>
                </li>
                <li class="my-skills__line">
                    <div class="my-skills__line-title">Illustrator</div>
                    <div id="illustrator" data-progressbar="90">

                    </div>
                </li>
                <li class="my-skills__line">
                    <div class="my-skills__line-title">HTML / CSS</div>
                    <div id="htmlcss"  data-progressbar="80">

                    </div>
                </li>
                <li class="my-skills__line">
                    <div class="my-skills__line-title">PHP / MYSQL</div>
                    <div id="phpmysql"  data-progressbar="65">

                    </div>
                </li>
            </ul>
        </div>

    </div>
</section>