<section class="my-portfolio" id="portfolio">
    <div class="container my-portfolio__container">
        <h2>Portfolio</h2>
        <div class="my-portfolio__description">
            <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute
                disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae
                pri.</p>
        </div>
        <ul class="my-portfolio__works-menu" id="filter">
            <li class="my-portfolio__works-menu-item">
                <a href="" data-filter="*" class="my-portfolio__works-menu-link current-link">All works</a>
            </li>
            <li class="my-portfolio__works-menu-item">
                <a href="" data-filter=".pug" class="my-portfolio__works-menu-link">pug</a>
            </li>
            <li class="my-portfolio__works-menu-item">
                <a href="" data-filter=".gulp" class="my-portfolio__works-menu-link">gulp</a>
            </li>
            <li class="my-portfolio__works-menu-item">
                <a href="" data-filter=".webpack" class="my-portfolio__works-menu-link">webpack</a>
            </li>
        </ul>
        <ul class="my-portfolio__works">
            <li class="my-portfolio__work pug gulp">
                <div class="my-portfolio__work-visible">
                    <img src="images/wezom366x300.png" alt="" class="my-portfolio__work-img">
                </div>
                <div class="my-portfolio__work-hidden">
                    <p class="my-portfolio__work-title">Страница интернет-магазина</p>
                    <p class="my-portfolio__work-link">
                        <a href="http://sitesdepot.ru/works/test-market/" target="_blank">веб-ресурс</a>
                    </p>
                    <p class="my-portfolio__work-link">
                        <a href="https://github.com/leonziger/test-market/" target="_blank">код на гитхабе</a>
                    </p>
                    <p><span class="strong">Кодинг/разметка:</span> HTML(pug)+SCSS.</p>
                    <p><span class="strong">Плагины/библиотеки:</span> jQuery, vanilla-text-mask, jquery.maskedinput, jquery-validation, vex-js,
                        toastr.js.</p>
                    <p><span class="strong">Сборка проекта:</span> gulp.</p>
                </div>
            </li>
            <li class="my-portfolio__work pug gulp">
                <div class="my-portfolio__work-visible">
                    <img src="images/ayudag366x300.png" alt="" class="my-portfolio__work-img">
                </div>
                <div class="my-portfolio__work-hidden">
                    <p class="my-portfolio__work-title">Лендинг отеля</p>
                    <p class="my-portfolio__work-link">
                        <a href="http://sitesdepot.ru/works/ayu-dag/" target="_blank">веб-ресурс</a>
                    </p>
                    <p class="my-portfolio__work-link">
                        <a href="https://github.com/leonziger/ayu-dag" target="_blank">код на гитхабе</a>
                    </p>
                    <p><span class="strong">Кодинг/разметка:</span> HTML(pug)+SCSS.</p>
                    <p><span class="strong">Плагины/библиотеки:</span> jQuery, vanilla-text-mask, jquery.maskedinput, jquery-validation, vex-js.</p>
                    <p><span class="strong">Сборка проекта:</span> gulp.</p>
                </div>
            </li>
            <li class="my-portfolio__work pug gulp">
                <div class="my-portfolio__work-visible">
                    <img src="images/strat366x300.png" alt="" class="my-portfolio__work-img">
                </div>
                <div class="my-portfolio__work-hidden">
                    <p class="my-portfolio__work-title">Страница консалтинговой фирмы</p>
                    <p class="my-portfolio__work-link">
                        <a href="https://leonziger.github.io/stratg/" target="_blank">веб-ресурс</a>
                    </p>
                    <p class="my-portfolio__work-link">
                        <a href="https://github.com/leonziger/stratg" target="_blank">код на гитхабе</a>
                    </p>
                    <p><span class="strong">Кодинг/разметка:</span> HTML(pug)+SCSS.</p>
                    <p><span class="strong">Плагины/библиотеки:</span> jQuery, vanilla-text-mask.</p>
                    <p><span class="strong">Сборка проекта:</span> gulp.</p>
                </div>
            </li>
            <li class="my-portfolio__work">
                <div class="my-portfolio__work-visible">
                    <img src="images/strat366x300.png" alt="" class="my-portfolio__work-img">
                </div>
                <div class="my-portfolio__work-hidden">
                    <p class="my-portfolio__work-title">Страница консалтинговой фирмы</p>
                    <p class="my-portfolio__work-link">
                        <a href="https://leonziger.github.io/stratg/" target="_blank">веб-ресурс</a>
                    </p>
                    <p class="my-portfolio__work-link">
                        <a href="https://github.com/leonziger/stratg" target="_blank">код на гитхабе</a>
                    </p>
                    <p><span class="strong">Кодинг/разметка:</span> HTML(pug)+SCSS.</p>
                    <p><span class="strong">Плагины/библиотеки:</span> jQuery, vanilla-text-mask.</p>
                    <p><span class="strong">Сборка проекта:</span> gulp.</p>
                </div>
            </li>
            <li class="my-portfolio__work">
                <div class="my-portfolio__work-visible">
                    <img src="images/strat366x300.png" alt="" class="my-portfolio__work-img">
                </div>
                <div class="my-portfolio__work-hidden">
                    <p class="my-portfolio__work-title">Страница консалтинговой фирмы</p>
                    <p class="my-portfolio__work-link">
                        <a href="https://leonziger.github.io/stratg/" target="_blank">веб-ресурс</a>
                    </p>
                    <p class="my-portfolio__work-link">
                        <a href="https://github.com/leonziger/stratg" target="_blank">код на гитхабе</a>
                    </p>
                    <p><span class="strong">Кодинг/разметка:</span> HTML(pug)+SCSS.</p>
                    <p><span class="strong">Плагины/библиотеки:</span> jQuery, vanilla-text-mask.</p>
                    <p><span class="strong">Сборка проекта:</span> gulp.</p>
                </div>
            </li>
            <li class="my-portfolio__work">
                <div class="my-portfolio__work-visible">
                    <img src="images/strat366x300.png" alt="" class="my-portfolio__work-img">
                </div>
                <div class="my-portfolio__work-hidden">
                    <p class="my-portfolio__work-title">Страница консалтинговой фирмы</p>
                    <p class="my-portfolio__work-link">
                        <a href="https://leonziger.github.io/stratg/" target="_blank">веб-ресурс</a>
                    </p>
                    <p class="my-portfolio__work-link">
                        <a href="https://github.com/leonziger/stratg" target="_blank">код на гитхабе</a>
                    </p>
                    <p><span class="strong">Кодинг/разметка:</span> HTML(pug)+SCSS.</p>
                    <p><span class="strong">Плагины/библиотеки:</span> jQuery, vanilla-text-mask.</p>
                    <p><span class="strong">Сборка проекта:</span> gulp.</p>
                </div>
            </li>
            <li class="my-portfolio__work">
                <div class="my-portfolio__work-visible">
                    <img src="images/strat366x300.png" alt="" class="my-portfolio__work-img">
                </div>
                <div class="my-portfolio__work-hidden">
                    <p class="my-portfolio__work-title">Страница консалтинговой фирмы</p>
                    <p class="my-portfolio__work-link">
                        <a href="https://leonziger.github.io/stratg/" target="_blank">веб-ресурс</a>
                    </p>
                    <p class="my-portfolio__work-link">
                        <a href="https://github.com/leonziger/stratg" target="_blank">код на гитхабе</a>
                    </p>
                    <p><span class="strong">Кодинг/разметка:</span> HTML(pug)+SCSS.</p>
                    <p><span class="strong">Плагины/библиотеки:</span> jQuery, vanilla-text-mask.</p>
                    <p><span class="strong">Сборка проекта:</span> gulp.</p>
                </div>
            </li>
            <li class="my-portfolio__work webpack">
                <div class="my-portfolio__work-visible">
                    <img src="images/clubc366x300.png" alt="" class="my-portfolio__work-img">
                </div>
                <div class="my-portfolio__work-hidden">
                    <p class="my-portfolio__work-title">Многострочный адаптивный слайдер</p>
                    <p class="my-portfolio__work-link">
                        <a href="https://leonziger.github.io/c-club/" target="_blank">веб-ресурс</a>
                    </p>
                    <p class="my-portfolio__work-link">
                        <a href="https://github.com/leonziger/c-club" target="_blank">код на гитхабе</a>
                    </p>
                    <p><span class="strong">Кодинг/разметка:</span> HTML+SCSS.</p>
                    <p><span class="strong">Плагины/библиотеки:</span> jQuery,  slick-carousel.</p>
                    <p><span class="strong">Сборка проекта:</span> webpack.</p>
                </div>
            </li>
        </ul>
    </div>
</section>