<section class="my-portfolio" id="portfolio">
    <div class="container my-portfolio__container">
        <h2>Портfolio</h2>
        <div class="my-portfolio__description">
            <p>Верстаю psd шаблоны, которые доступны в сети или приходят в рассылках различных курсов и тренингов.</p>
        </div>
        <ul class="my-portfolio__works-menu" id="filter">
            <li class="my-portfolio__works-menu-item">
                <a href="" data-filter="*" class="my-portfolio__works-menu-link current-link">All works</a>
            </li>
            <li class="my-portfolio__works-menu-item">
                <a href="" data-filter=".pug" class="my-portfolio__works-menu-link">pug</a>
            </li>
            <li class="my-portfolio__works-menu-item">
                <a href="" data-filter=".gulp" class="my-portfolio__works-menu-link">gulp</a>
            </li>
            <li class="my-portfolio__works-menu-item">
                <a href="" data-filter=".webpack" class="my-portfolio__works-menu-link">webpack</a>
            </li>
        </ul>
        <div class="my-portfolio__works-wrapper">
            <ul class="my-portfolio__works">
                <li class="my-portfolio__work">
                    <div class="my-portfolio__work-visible">
                        <img src="images/miami366x300.png" alt="" class="my-portfolio__work-img">
                    </div>
                    <div class="my-portfolio__work-hidden">
                        <p class="my-portfolio__work-title">Лендинг Miami Condo Kings</p>
                        <p class="my-portfolio__work-link">
                            <a href="http://sitesdepot.ru/works/miami/" target="_blank">веб-ресурс</a>
                        </p>
                        <p class="my-portfolio__work-link">                        </p>
                        <p><span class="strong">Кодинг/разметка:</span> HTML+SCSS.</p>
                        <p><span class="strong">Плагины/библиотеки:</span> jQuery. </p>
                        <p><span class="strong">Сборка проекта:</span> gulp.</p>
                    </div>
                </li>
                <li class="my-portfolio__work">
                    <div class="my-portfolio__work-visible">
                        <img src="images/driving366x300.png" alt="" class="my-portfolio__work-img">
                    </div>
                    <div class="my-portfolio__work-hidden">
                        <p class="my-portfolio__work-title">Лендинг Автошколы</p>
                        <p class="my-portfolio__work-link">
                            <a href="http://sitesdepot.ru/works/driving/" target="_blank">веб-ресурс</a>
                        </p>
                        <p class="my-portfolio__work-link">                        </p>
                        <p><span class="strong">Кодинг/разметка:</span> HTML+SCSS.</p>
                        <p><span class="strong">Плагины/библиотеки:</span> jQuery. </p>
                        <p><span class="strong">Сборка проекта:</span> gulp.</p>
                    </div>
                </li>
                <li class="my-portfolio__work">
                    <div class="my-portfolio__work-visible">
                        <img src="images/volki366x300.png" alt="" class="my-portfolio__work-img">
                    </div>
                    <div class="my-portfolio__work-hidden">
                        <p class="my-portfolio__work-title">Сайт питомника служебных собак</p>
                        <p class="my-portfolio__work-link">
                            <a href="http://sitesdepot.ru/works/volki/" target="_blank">веб-ресурс</a>
                        </p>
                        <p class="my-portfolio__work-link">                        </p>
                        <p><span class="strong">Кодинг/разметка:</span> HTML+SCSS.</p>
                        <p><span class="strong">Плагины/библиотеки:</span> jQuery, slick-carousel. </p>
                        <p><span class="strong">Сборка проекта:</span> gulp.</p>
                    </div>
                </li>
                <li class="my-portfolio__work">
                    <div class="my-portfolio__work-visible">
                        <img src="images/wezom366x300.png" alt="" class="my-portfolio__work-img">
                    </div>
                    <div class="my-portfolio__work-hidden">
                        <p class="my-portfolio__work-title">Страница интернет-магазина</p>
                        <p class="my-portfolio__work-link">
                            <a href="http://sitesdepot.ru/works/test-market/" target="_blank">веб-ресурс</a>
                        </p>
                        <p class="my-portfolio__work-link">
                            <a href="https://github.com/leonziger/test-market/" target="_blank">код на гитхабе</a>
                        </p>
                        <p><span class="strong">Кодинг/разметка:</span> HTML(pug)+SCSS.</p>
                        <p><span class="strong">Плагины/библиотеки:</span> jQuery, vanilla-text-mask, jquery.maskedinput, jquery-validation, vex-js,
                            toastr.js.</p>
                        <p><span class="strong">Сборка проекта:</span> gulp.</p>
                    </div>
                </li>
                <li class="my-portfolio__work">
                    <div class="my-portfolio__work-visible">
                        <img src="images/ayudag366x300.png" alt="" class="my-portfolio__work-img">
                    </div>
                    <div class="my-portfolio__work-hidden">
                        <p class="my-portfolio__work-title">Лендинг отеля</p>
                        <p class="my-portfolio__work-link">
                            <a href="http://sitesdepot.ru/works/ayu-dag/" target="_blank">веб-ресурс</a>
                        </p>
                        <p class="my-portfolio__work-link">
                            <a href="https://github.com/leonziger/ayu-dag" target="_blank">код на гитхабе</a>
                        </p>
                        <p><span class="strong">Кодинг/разметка:</span> HTML(pug)+SCSS.</p>
                        <p><span class="strong">Плагины/библиотеки:</span> jQuery, vanilla-text-mask, jquery.maskedinput, jquery-validation, vex-js.</p>
                        <p><span class="strong">Сборка проекта:</span> gulp.</p>
                    </div>
                </li>
                <li class="my-portfolio__work">
                    <div class="my-portfolio__work-visible">
                        <img src="images/strat366x300.png" alt="" class="my-portfolio__work-img">
                    </div>
                    <div class="my-portfolio__work-hidden">
                        <p class="my-portfolio__work-title">Страница консалтинговой фирмы</p>
                        <p class="my-portfolio__work-link">
                            <a href="https://leonziger.github.io/stratg/" target="_blank">веб-ресурс</a>
                        </p>
                        <p class="my-portfolio__work-link">
                            <a href="https://github.com/leonziger/stratg" target="_blank">код на гитхабе</a>
                        </p>
                        <p><span class="strong">Кодинг/разметка:</span> HTML(pug)+SCSS.</p>
                        <p><span class="strong">Плагины/библиотеки:</span> jQuery, vanilla-text-mask.</p>
                        <p><span class="strong">Сборка проекта:</span> gulp.</p>
                    </div>
                </li>
                <li class="my-portfolio__work">
                    <div class="my-portfolio__work-visible">
                        <img src="images/shakers366x300.png" alt="" class="my-portfolio__work-img">
                    </div>
                    <div class="my-portfolio__work-hidden">
                        <p class="my-portfolio__work-title">Лендинг Шейкеры</p>
                        <p class="my-portfolio__work-link">
                            <a href="https://leonziger.github.io/shakers/" target="_blank">веб-ресурс</a>
                        </p>
                        <p class="my-portfolio__work-link">
                            <a href="https://github.com/leonziger/shakers" target="_blank">код на гитхабе</a>
                        </p>
                        <p><span class="strong">Кодинг/разметка:</span> HTML(pug)+SCSS.</p>
                        <p><span class="strong">Плагины/библиотеки:</span> jQuery,  slick-carousel.</p>
                        <p><span class="strong">Сборка проекта:</span> gulp.</p>
                    </div>
                </li>
                <li class="my-portfolio__work">
                    <div class="my-portfolio__work-visible">
                        <img src="images/suntour366x300.png" alt="" class="my-portfolio__work-img">
                    </div>
                    <div class="my-portfolio__work-hidden">
                        <p class="my-portfolio__work-title">Страница турагентства</p>
                        <p class="my-portfolio__work-link">
                            <a href="https://leonziger.github.io/sun-tour/" target="_blank">веб-ресурс</a>
                        </p>
                        <p class="my-portfolio__work-link">
                            <a href="https://github.com/leonziger/sun-tour" target="_blank">код на гитхабе</a>
                        </p>
                        <p><span class="strong">Кодинг/разметка:</span> HTML+SCSS.</p>
                        <p><span class="strong">Плагины/библиотеки:</span> jQuery, vanilla-text-mask.</p>
                        <p><span class="strong">Сборка проекта:</span> gulp.</p>
                    </div>
                </li>
                <li class="my-portfolio__work">
                    <div class="my-portfolio__work-visible">
                        <img src="images/buyheater366x300.png" alt="" class="my-portfolio__work-img">
                    </div>
                    <div class="my-portfolio__work-hidden">
                        <p class="my-portfolio__work-title">Лендинг по продаже обогревателей</p>
                        <p class="my-portfolio__work-link">
                            <a href="http://sitesdepot.ru/st-buy-heater/" target="_blank">веб-ресурс</a>
                        </p>
                        <p class="my-portfolio__work-link">
                            <a href="https://github.com/leonziger/buy-heater" target="_blank">код на гитхабе</a>
                        </p>
                        <p><span class="strong">Кодинг/разметка:</span> HTML+SCSS.</p>
                        <p><span class="strong">Плагины/библиотеки:</span> jQuery,  vanilla-text-mask, jquery.maskedinput, jquery-validation, FlipClock, vex-js.</p>
                        <p><span class="strong">Сборка проекта:</span> gulp.</p>
                    </div>
                </li>
                <li class="my-portfolio__work">
                    <div class="my-portfolio__work-visible">
                        <img src="images/folio366x300.png" alt="" class="my-portfolio__work-img">
                    </div>
                    <div class="my-portfolio__work-hidden">
                        <p class="my-portfolio__work-title">Мое портфолио</p>
                        <p class="my-portfolio__work-link">
                            <a href="https://leonziger.github.io/folio/" target="_blank">веб-ресурс</a>
                        </p>
                        <p class="my-portfolio__work-link">
                            <a href="https://github.com/leonziger/folio" target="_blank">код на гитхабе</a>
                        </p>
                        <p><span class="strong">Кодинг/разметка:</span> HTML+SCSS.</p>
                        <p><span class="strong">Плагины/библиотеки:</span> jQuery,  vanilla-text-mask, jquery.maskedinput, jquery-validation, jQuery Form Styler, slick-carousel, vex-js.</p>
                        <p><span class="strong">Сборка проекта:</span> gulp.</p>
                    </div>
                </li>
                <li class="my-portfolio__work webpack">
                    <div class="my-portfolio__work-visible">
                        <img src="images/invite366x300.png" alt="" class="my-portfolio__work-img">
                    </div>
                    <div class="my-portfolio__work-hidden">
                        <p class="my-portfolio__work-title">Лендинг</p>
                        <p class="my-portfolio__work-link">
                            <a href="https://leonziger.github.io/invite-transport" target="_blank">веб-ресурс</a>
                        </p>
                        <p class="my-portfolio__work-link">
                            <a href="https://github.com/leonziger/invite-transport" target="_blank">код на гитхабе</a>
                        </p>
                        <p><span class="strong">Кодинг/разметка:</span> HTML+SCSS.</p>
                        <p><span class="strong">Плагины/библиотеки:</span> jQuery, Vue.js, Bootstrap3.</p>
                        <p><span class="strong">Сборка проекта:</span> webpack.</p>
                    </div>
                </li>
                <li class="my-portfolio__work webpack">
                    <div class="my-portfolio__work-visible">
                        <img src="images/clubc366x300.png" alt="" class="my-portfolio__work-img">
                    </div>
                    <div class="my-portfolio__work-hidden">
                        <p class="my-portfolio__work-title">Многострочный адаптивный слайдер</p>
                        <p class="my-portfolio__work-link">
                            <a href="https://leonziger.github.io/c-club/" target="_blank">веб-ресурс</a>
                        </p>
                        <p class="my-portfolio__work-link">
                            <a href="https://github.com/leonziger/c-club" target="_blank">код на гитхабе</a>
                        </p>
                        <p><span class="strong">Кодинг/разметка:</span> HTML+SCSS.</p>
                        <p><span class="strong">Плагины/библиотеки:</span> jQuery,  slick-carousel.</p>
                        <p><span class="strong">Сборка проекта:</span> webpack.</p>
                    </div>
                </li>
                <li class="my-portfolio__work">
                    <div class="my-portfolio__work-visible">
                        <img src="images/closes366x300.png" alt="" class="my-portfolio__work-img">
                    </div>
                    <div class="my-portfolio__work-hidden">
                        <p class="my-portfolio__work-title">Сайт "Ателье одежды для мам и дочек"</p>
                        <p class="my-portfolio__work-link">
                            <a href="https://leonziger.github.io/closes-studio/" target="_blank">веб-ресурс</a>
                        </p>
                        <p class="my-portfolio__work-link">
                            <a href="https://github.com/leonziger/closes-studio" target="_blank">код на гитхабе</a>
                        </p>
                        <p><span class="strong">Кодинг/разметка:</span> HTML+SCSS.</p>
                        <p><span class="strong">Плагины/библиотеки:</span> jQuery, Vue.js, Bootstrap3, fullPage.js.</p>
                        <p><span class="strong">Сборка проекта:</span> webpack.</p>
                    </div>
                </li>
                <li class="my-portfolio__work">
                    <div class="my-portfolio__work-visible">
                        <img src="images/belaz366x300.png" alt="" class="my-portfolio__work-img">
                    </div>
                    <div class="my-portfolio__work-hidden">
                        <p class="my-portfolio__work-title">Сайт "Запчасти для грузовиков Белаз"</p>
                        <p class="my-portfolio__work-link">
                            <a href="https://leonziger.github.io/belaz-trucks/" target="_blank">веб-ресурс</a>
                        </p>
                        <p class="my-portfolio__work-link">
                            <a href="https://github.com/leonziger/belaz-trucks" target="_blank">код на гитхабе</a>
                        </p>
                        <p><span class="strong">Кодинг/разметка:</span> HTML+SCSS.</p>
                        <p><span class="strong">Плагины/библиотеки:</span> jQuery, Bootstrap3, jquery.maskedinput, jquery-validation, vex-js.</p>
                        <p><span class="strong">Сборка проекта:</span> gulp.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>