<div class="testimonials" id="testimonials">
    <div class="container testimonials__container">
        <div class="testimonials__slider">
            <div class="testimonial">
                <div class="testimonial__body">
                    <p>“Давно приглядываюсь к работам Леонида. Делал тестовое задание на одну из наших вакансий. Старательный, дотошный, исполнительный. Перспективный верстальщик. Необходимо подтянуть javascript и расти дальше до фронтенд-разработчика.”</p>
                </div>
                <div class="testimonial__author">Алексей Зайцев, "Z-media"</div>
            </div>
            <div class="testimonial">
                <div class="testimonial__body">
                    <p>“Давно приглядываюсь к работам Леонида. Делал тестовое задание на одну из наших вакансий. Старательный, дотошный, исполнительный. Перспективный верстальщик. Необходимо подтянуть javascript и расти дальше до фронтенд-разработчика.”</p>
                </div>
                <div class="testimonial__author">Артур Попрыгайцев, "P-media"</div>
            </div>
            <div class="testimonial">
                <div class="testimonial__body">
                    <p>“Давно приглядываюсь к работам Леонида. Делал тестовое задание на одну из наших вакансий. Старательный, дотошный, исполнительный. Перспективный верстальщик. Необходимо подтянуть javascript и расти дальше до фронтенд-разработчика.”</p>
                </div>
                <div class="testimonial__author">Артем Добивайцев, "D-media"</div>
            </div>
        </div>
    </div>
</div>