<div class="testimonials" id="testimonials">
    <div class="container testimonials__container">
        <div class="testimonials__slider">
            <div class="testimonial">
                <div class="testimonial__body">
                    <p>“Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.”</p>
                </div>
                <div class="testimonial__author">John Stone</div>
            </div>
            <div class="testimonial">
                <div class="testimonial__body">
                    <p>“Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.”</p>
                </div>
                <div class="testimonial__author">Barbara Doe</div>
            </div>
            <div class="testimonial">
                <div class="testimonial__body">
                    <p>“Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.”</p>
                </div>
                <div class="testimonial__author">Chloe Murray</div>
            </div>
        </div>
    </div>
</div>