<div class="main-slider" id="home">
    <div class="slide slide_one">
        <div class="slide__content">
            <div class="slide__title">Web & Graphic Designer</div>
            <a href="#about-me" class="button slide__button">Learn more</a>
        </div>
    </div>
    <div class="slide slide_two">
        <div class="slide__content">
            <div class="slide__title">HTML-coder</div>
            <a href="#about-me"  class="button slide__button">Learn more</a>
        </div>
    </div>
    <div class="slide slide_three">
        <div class="slide__content">
            <div class="slide__title">Javascript/jQuery developer</div>
            <a href="#about-me"  class="button slide__button">Learn more</a>
        </div>
    </div>
</div>
