<footer class="main-footer">
    <div class="container main-footer__container">
        <div class="main-footer__copyright">Copyright 2014 Focal - Built With Passion</div>
        <div class="main-footer__soc-media">
            {{> social-media }}
        </div>
    </div>
</footer>