<header class="main-header">
    <div class="container main-header__container">
        <div class="main-header__logo-wrap">
            <a href="/" class="main-header__logo">
                <img class="main-header__logo-icon" src="images/logo-icon.png">
            </a>
            <div class="main-header__logo-slogan">fo<span class="green">cal</span></div>
        </div>
        {{> nav }}
    </div>
</header>
